# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheelhouse/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
#  JetBrains specific template is kept in case you use PyCharm’s extra files
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment variables file
.env

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Rope project settings
.ropeproject/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Sphinx documentation
docs/_build/

# Coverage tool configuration
.coverage

# Celery beat schedule file
celerybeat-schedule

# Environments
.envrc
